body {
	font-family: monospace;
}


h1 {
	color: #711ba2;
	font-family: sans-serif;
}

td.sleep, td.before_start, td.after_end {
	color: #ccc;
}

td.thepast.sleep {
	background: #555;
}

.day, .mon {
	color: black;
}

.during.work {
	background: red;
}

body.point .during.work{
	background: #cfc;
}
body.point td.before_start.work, body.point td.after_end.work {
	color: black;
	background: #ccc;
}

.city {
	font-size: 120%;
	font-weight: bold;
	text-align: right;
}
.offset {
	font-size: 120%;
	text-align: right;
}

.m {
	font-size: 80%;
}

.tzt {
	text-align: center;
	font-size: 120%;
	min-width: 1.5em;
}

#container {
	display: flex;
	flex-direction: row;
}

#tzhm {
	overflow-x: scroll;
	width: 80%;
	display: block;
}

#tzhm-tz {
	border-right: 1px solid black;
}

#tzhm-tz td, #tzhm td {
	height: 50px;
}

tr.viewer td {
	border-top: 2px solid red;
	border-bottom: 2px solid red;
}

